/node_modules

# SQLite database
/data/*.db
/data/*.sqlite

# Logs
*.log

# Environment variables
.env
.env.*

# OS/Editor/IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build artifacts
dist/
build/

# Misc
*.bak
*.tmp
